{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

    <section class="row gray-bg">
        <div class="container">
            <div class="row d-flex">
                <div class="col-lg-9 order-2 order-lg-1">
                    <h2>{% trans "Déconnexion" %}</h2>
                </div>
                <div class="col-lg-3 text-right order-1 order-lg-2">
                    <ul class="breadcrumb justify-content-lg-end">
                        <li class="breadcrumb-item"><a href="{% url "home" %}">Accueil</a></li>
                        <li class="breadcrumb-item active">Déconnexion</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="padding-small">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p>{% trans 'Êtes-vous certain de vouloir vous déconnecter?' %}</p>

                    <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <button type="submit" class="btn btn-primary float-right"><i
                                class="fa fa-sign-in"></i> {% trans 'Déconnexion' %}</button>

                    </form>
                </div>
            </div>
    </section>

{% endblock %}