{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <section class="row gray-bg" style=" padding-bottom: 10px; padding-top: 30px; margin-top: 0px; ">
        <div class="container">
            <div class="row d-flex">
                <div class="col-lg-9 order-2 order-lg-1">
                    <h2>{% trans "Réinitialisation du mot de passe" %}</h2>
                </div>
                <div class="col-lg-3 text-right order-1 order-lg-2">
                    <ul class="breadcrumb justify-content-lg-end">
                        <li class="breadcrumb-item"><a href="{% url "home" %}">Home</a></li>
                        <li class="breadcrumb-item active">Réinitialisation</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="padding-small">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-warning">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <p>Mot de passe oublié? Entrez votre adresse e-mail ci-dessous et nous vous enverrons un e-mail vous
                        permettant de le réinitialiser.</p>
                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary">{% trans "Réinitialiser" %}</button>
                        </div>
                    </form>
                </div>
            </div>
    </section>
{% endblock %}