{% load account %}
{% load i18n %}
{% autoescape off %}
    <h3>Bonjour ,</h3>
    <p style="font-size: 16px">
        Vous recevez cet e-mail parce que vous ou une autre personne avez demandé de changer votre mot de passe pour
        votre compte FoxProds.<br><br>
        Il peut être ignoré en toute sécurité si vous n'avez pas demandé de réinitialisation de mot de passe. <br><br>
        Cliquez sur le lien ci-dessous pour réinitialiser votre mot de passe.<br><br>
        <a href="{{ password_reset_url }}" style="color:purple">Changer votre mot de passe</a><br><br>

        Merci d'utiliser FoxProds .
    </p>
{% endautoescape %}
