{% extends 'base.html' %}
{% load mytags %}
{% block content %}
    <section class="row gray-bg" style=" padding-bottom: 10px; padding-top: 30px; margin-top: 0px; ">
        <div class="container">
            <div class="row d-flex">
                <div class="col-lg-9 order-2 order-lg-1">
                    {% if change %}
                        <h3>Modifier le mode de livraison</h3>
                    {% else %}
                        <h1> Mode de livraison</h1>
                        <p class="lead">Vous avez actuellement {% cart_count %} article (s) dans votre panier</p>
                    {% endif %}


                </div>
                <div class="col-lg-3 text-right order-1 order-lg-2">
                    <ul class="breadcrumb justify-content-lg-end">

                        <li class="breadcrumb-item"><a href="{% url "home" %}">Accueil</a></li>
                        {% if change %}
                            <li class="breadcrumb-item active">Modifier le mode de livraison</li>
                        {% else %}
                            <li class="breadcrumb-item active">Mode de livraison</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Checkout Forms-->
    <section class="checkout">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 {% if change %} offset-2 {% endif %}">

                    {% if change %}
                        <div class="block-header mb-2">
                            <h6 class="text-uppercase">Modifier lev</h6>
                        </div>
                    {% else %}
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a href="{% url "checkout" %}" class="nav-link">Adresse</a></li>
                            <li class="nav-item"><a href={% url "delivery" %} class="nav-link active">Mode de livraison</a>
                            </li>
                            <li class="nav-item"><a href="#" class="nav-link disabled">Mode de paiement </a></li>
                            <li class="nav-item"><a href="#" class="nav-link disabled">Commande</a></li>
                        </ul>
                    {% endif %}

                    <div class="tab-content">
                        <div id="delivery-method" class="tab-block">
                            <form method="POST" id="shipingform" class="shipping-form">
                            {% if change %}
                                <input type="hidden" name="updated" value="{{ order_id }}">
                            {% endif %}
                                {% csrf_token %}
                                <div class="row">
                                    {% if user_method %}
                                        <div class="form-group gray-bg p-4 col-12">
                                            <input checked type="radio" name="option_id" value="{{ user_method.id }}"
                                                   id="option" class="radio-template">
                                            <label for="option">
                                                {% with user_method as method %}
                                                    <div class="row">
                                                        {% if method.icon %}
                                                            <div class="col-3 m-4">
                                                                <img src="{{ method.icon.get_absolute_url }}"
                                                                     alt="{{ method.icon.alt }}" sizes="50px">
                                                                <br></div>
                                                        {% endif %}
                                                        <div class="col {% if method.icon %}{% else %}ml-5{% endif %}">
                                                            <strong>{{ method.name }}</strong><br>
                                                            <span class="label-description">{{ method.description }}</span><br>
                                                            <span class="label-description">{{ method.shipping_price }} DH</span>
                                                        </div>
                                                    </div>
                                                {% endwith %}
                                            </label>
                                        </div>
                                    {% endif %}
                                    {% for method in methods %}
                                        <div class="form-group p-4 col-12">
                                            <input
                                                    {% if user_method %}{% else %}{% if forloop.first %}checked{% else %}{% endif %} {% endif %}
                                                    type="radio" name="option_id" value="{{ method.id }}"
                                                    id="option{{ forloop.counter }}"
                                                    class="radio-template">
                                            <label for="option{{ forloop.counter }}">
                                                <div class="row">
                                                    {% if method.icon %}
                                                        <div class="col-3 m-4">
                                                            <img src="{{ method.icon.get_absolute_url }}"
                                                                 alt="{{ method.icon.alt }}" sizes="50px">
                                                            <br></div>
                                                    {% endif %}
                                                    <div class="col {% if method.icon %}{% else %}ml-5{% endif %}">
                                                        <strong>{{ method.name }}</strong><br>
                                                        <span class="label-description">{{ method.description }}</span><br>
                                                        <span class="label-description">{{ method.shipping_price }} DH</span>
                                                    </div>
                                                </div>
                                            </label>
                                        </div>
                                    {% endfor %}

                                </div>
                            </form>

                            <div class="CTAs d-flex justify-content-between flex-column flex-lg-row">
                                {% if not change %}
                                    <a href="{% url "checkout" %}" class="btn btn-template-outlined wide prev"><i
                                            class="fa fa-angle-left"></i>Adresse</a>
                                {% endif %}
                                <button type="submit " form="shipingform" class="btn btn-template wide">Mode de paiement<i class="fa fa-angle-right"></i></button>

                            </div>
                        </div>
                    </div>
                </div>
            {% if not change %}
                {% order_summary %}
            {% endif %}
            </div>
        </div>
    </section>

{% endblock content %}