{% extends 'base.html' %}
{% load mytags %}
{% block content %}
    <section class="row gray-bg" style=" padding-bottom: 10px; padding-top: 30px; margin-top: 0px; ">
        <div class="container">
            <div class="row d-flex">
                <div class="col-lg-9 order-2 order-lg-1">
                    <h1>Checkout</h1>
                    <p class="lead">You currently have {% cart_count %} item(s) in your basket</p>
                </div>
                <div class="col-lg-3 text-right order-1 order-lg-2">
                    <ul class="breadcrumb justify-content-lg-end">
                        <li class="breadcrumb-item"><a href="{% url "home" %}">Home</a></li>
                        <li class="breadcrumb-item active">Checkout</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Checkout Forms-->
    <section class="checkout">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a href="{% url "checkout" %}" class="nav-link">Address</a></li>
                        <li class="nav-item"><a href={% url "delivery" %} class="nav-link active">Delivery Method </a>
                        </li>
                        <li class="nav-item"><a href="#" class="nav-link disabled">Payment Method </a></li>
                        <li class="nav-item"><a href="#" class="nav-link disabled">Order Review</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="delivery-method" class="tab-block">

                            <form method="POST" id="shipingform" class="shipping-form">
                                {% csrf_token %}
                                <div class="row">
                                    {% if user_method %}
                                        <div class="form-group gray-bg p-4 col-12">
                                            <input checked type="radio" name="option_id" value="{{ user_method.id }}"
                                                   id="option" class="radio-template">
                                            <label for="option">
                                                {% with user_method as method %}
                                                    <div class="row">
                                                        {% if method.icon %}
                                                            <div class="col-3 m-4">
                                                                <img src="{{ method.icon.get_absolute_url }}"
                                                                     alt="{{ method.icon.alt }}" sizes="50px">
                                                                <br></div>
                                                        {% endif %}
                                                        <div class="col {% if method.icon %}{% else %}ml-5{% endif %}">
                                                            <strong>{{ method.name }}</strong><br>
                                                            <span class="label-description">{{ method.description }}</span><br>
                                                            <span class="label-description">{{ method.shipping_price }} DH</span>
                                                        </div>
                                                    </div>
                                                {% endwith %}
                                            </label>
                                        </div>
                                    {% endif %}
                                    {% for method in methods %}
                                        <div class="form-group p-4 col-12">
                                            <input
                                                    {% if user_method %}{% else %}{% if forloop.first %}checked{% else %}{% endif %} {% endif %}
                                                    type="radio" name="option_id" value="{{ method.id }}"
                                                    id="option{{ forloop.counter }}"
                                                    class="radio-template">
                                            <label for="option{{ forloop.counter }}">
                                                <div class="row">
                                                    {% if method.icon %}
                                                        <div class="col-3 m-4">
                                                            <img src="{{ method.icon.get_absolute_url }}"
                                                                 alt="{{ method.icon.alt }}" sizes="50px">
                                                            <br></div>
                                                    {% endif %}
                                                    <div class="col {% if method.icon %}{% else %}ml-5{% endif %}">
                                                        <strong>{{ method.name }}</strong><br>
                                                        <span class="label-description">{{ method.description }}</span><br>
                                                        <span class="label-description">{{ method.shipping_price }} DH</span>
                                                    </div>
                                                </div>
                                            </label>
                                        </div>
                                    {% endfor %}

                                </div>
                            </form>

                            <div class="CTAs d-flex justify-content-between flex-column flex-lg-row">
                                <a href="checkout1.html" class="btn btn-template-outlined wide prev"><i
                                        class="fa fa-angle-left"></i>Back to Address</a>
                                <button type="submit " form="shipingform" class="btn btn-template wide">Choose payment
                                    method <i class="fa fa-angle-right"></i></button>

                            </div>
                        </div>
                    </div>
                </div>
                {% order_summary %}
            </div>
        </div>
    </section>

{% endblock content %}