{% extends 'base.html' %}
{% load mytags %}
{% block content %}

    <section class="row gray-bg" style=" padding-bottom: 10px; padding-top: 30px; margin-top: 0px; ">
        <div class="container">
            <div class="row d-flex">
                <div class="col-lg-9 order-2 order-lg-1">
                    <h1>Adresse</h1>
                    <p class="lead">Vous avez actuellement {% cart_count %} article (s) dans votre panier</p>
                </div>
                <div class="col-lg-3 text-right order-1 order-lg-2">
                    <ul class="breadcrumb justify-content-lg-end">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
                        <li class="breadcrumb-item active">Adresse</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Checkout Forms-->
    <section class="checkout">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a href="checkout1.html" class="nav-link active">Adresse</a></li>
                        <li class="nav-item"><a href="#" class="nav-link disabled">Mode de livraison </a></li>
                        <li class="nav-item"><a href="#" class="nav-link disabled">Mode de paiement </a></li>
                        <li class="nav-item"><a href="#" class="nav-link disabled">Commande</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="address" class="active tab-block">
                            <div class="block-header mb-5">
                                <h6>Adresse de Livraison </h6>
                            </div>
                            <div class="row mb-4 mt-2">

                                <div class="block-header mx-auto mb-2">
                                    <h6>UTILISEZ L'UNE DE VOTRE ADRESSE </h6>
                                </div>
                                <div class="col-md-8 my-2 mx-auto">
                                    <form method="post" id="useaddressform">
                                        {% csrf_token %}
                                        <select name="address_id" class=" form-control bs-select ">
                                            {% for address in request.user.addresses.all %}
                                                <option value="{{ address.id }}">
                                                    {{ address }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </form>

                                </div>
                                <div class="col-2 mt-2">
                                    <button type="submit" name="action" value="choseanaddress" form="useaddressform"
                                            class="btn btn-primary text-white">
                                        Utiliser
                                    </button>
                                </div>
                                <div class="block-header mx-auto mb-2 mt-4">
                                    <h6>AJOUTER UNE NOUVELLE ADRESSE </h6>
                                </div>
                            </div>
                            <form method="post" id="form-address">

                                <div class="row">
                                    {% if form.errors %}
                                        {% for field in form %}
                                            {% for error in field.errors %}
                                                <div class="alert alert-warning">
                                                    <strong>{{ field.label }}:{{ error|escape }}</strong>
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                        {% for error in form.non_field_errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ field.label }} : {{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    {% csrf_token %}
                                    {% for field in form %}
                                        <div class="form-group col-md-6">
                                            <label for="{{ field.label }}" class="form-label">{{ field.label }}</label>
                                            {{ field }}
                                        </div>
                                    {% endfor %}

                                </div>

                                <div class="CTAs d-flex justify-content-between flex-column flex-lg-row">
                                    <a href="{% url "cart" %}" class="btn btn-template-outlined wide prev">
                                        <i class="fa fa-angle-left"></i>Retour au panier</a>
                                    <button type="submit" form="form-address" class="btn btn-template btn-lg wide">
                                        Suivant<i class="fa fa-long-arrow-right"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% order_summary %}
            </div>
        </div>
    </section>

{% endblock content %}