{% extends 'base.html' %}
{% load mytags %}
{% block content %}
    <section class="row gray-bg" style=" padding-bottom: 10px; padding-top: 30px; margin-top: 0px; ">
        <div class="container">
            <div class="row d-flex">
                <div class="col-lg-9 order-2 order-lg-1">
                    <h1>Vos adresses</h1>
                </div>
                <div class="col-lg-3 text-right order-1 order-lg-2">
                    <ul class="breadcrumb justify-content-lg-end">
                        <li class="breadcrumb-item"><a href="{% url "home" %}">Accueil</a></li>
                        <li class="breadcrumb-item active">Vos adresses</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="padding-small">
        <div class="container">
            <div class="row">
                <!-- Customer Sidebar-->
                {% show_profile_sidebar %}
                <div class="col-lg-8 col-xl-9 pl-lg-3">
                    <div class="block-header mb-5">
                        <h5>Adresse </h5>
                    </div>
                    <div class="container">
                        <div class="row">
                            <table class="table table-hover table-responsive-md">
                                <thead>
                                <tr>
                                    <th>Adresse</th>
                                    <th class="text-center" colspan="2">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for Adresse in user_addresses %}
                                    <tr>
                                        <td>
                                            {% if Adresse.default %}
                                                <span class="text-success">Adresse d'utilisateur par défaut</span><br>
                                            {% endif %}
                                            <small><strong>Nom complet: </strong> {{ Adresse.full_name }}<br>
                                                <strong>Téléphone:</strong> {{ Adresse.phone_number }}
                                                <br><strong>Adresse: </strong> {{ Adresse.street_address }}<br>
                                                {% if Adresse.societe %}
                                                    <strong>Société: </strong> {{ Adresse.societe }}<br>{% endif %}
                                                {{ Adresse.zip }} ,{{ Adresse.city }} ,{{ Adresse.state }}
                                                ,{{ Adresse.country }}</small>

                                        </td>
                                        <td>

                                            <form method="post">

                                                {% csrf_token %}
                                                <input type="hidden" name="id" value="{{ Adresse.id }}">
                                                <input type="submit" class="btn btn-info btn-sm mb-1" name="action"
                                                       value="Modifier"><br>
                                                <input type="submit" class="btn btn-danger btn-sm mb-1" name="action"
                                                       value="Supprimer"><br>
                                                <input type="submit" class="btn btn-primary btn-sm mb-1" name="action"
                                                       value="Par défaut">
                                                <a name="Adresseform"></a>
                                            </form>
                                        </td>
                                        {#                                        <td><a href="#" class="btn btn-danger btn-sm ">Delete</a></td>#}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="block-header mb-5 mt-3">
                            {% if modify %}
                                <h5>Modifier l'adresse</h5>{% else %}<h5>Nouvelle adresse</h5>
                            {% endif %}

                        </div>
                        <div class="form-group col-12 mt-3 ml-3">
                            <div id="shippingAdresse" aria-expanded="false" style="">
                                <div class="row">
                                    <form method="post">
                                        {% if modify %}
                                            <input type="hidden" name="action" value="updated">
                                            <input type="hidden" name="id" value="{{ id }}">
                                        {% else %}
                                            <input type="hidden" name="action" value="add">
                                        {% endif %}
                                        <div class="row">
                                            {% if form.errors %}
                                                {% for field in form %}
                                                    {% for error in field.errors %}
                                                        <div class="alert alert-warning col-lg-12 ">
                                                            <strong>{{ field.label }}:{{ error|escape }}</strong>
                                                        </div>
                                                    {% endfor %}
                                                {% endfor %}
                                                {% for error in form.non_field_errors %}
                                                    <div class="alert alert-danger">
                                                        <strong>{{ field.label }} : {{ error|escape }}</strong>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                            {% csrf_token %}
                                            {% for field in form %}
                                                <div class="form-group col-md-6">
                                                    <label for="firstname" class="form-label">{{ field.label }}</label>
                                                    {{ field }}
                                                </div>
                                            {% endfor %}

                                        </div>

                                        <div class="row">
                                            <div class="form-group col-12 mt-3">
                                                <button type="submit" class="btn btn-template wide"><i
                                                        class="fa fa-save"></i>Sauvegarder
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- Footer-->
{% endblock content %}