{% load static %}
{% load mytags %}
<footer class="main-footer">
    <!-- Service Block-->
    <div class="services-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 d-flex justify-content-center justify-content-lg-start">
                    <div class="item d-flex align-items-center">
                        <div class="icon"><i class="icon-truck"></i></div>
                        <div class="text">
                            <h6 class="no-margin text-uppercase">Livraison gratuite</h6><span>Pour toutes les commandes de 20000DH et plus</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-flex justify-content-center">
                    <div class="item d-flex align-items-center">
                        <div class="icon"><i class="icon-coin"></i></div>
                        <div class="text">
                            <h6 class="no-margin text-uppercase">Satisfaction</h6><span>Nous sommes toujours là pour que vous soyez satisfait de vos achats</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-flex justify-content-center">
                    <div class="item d-flex align-items-center">
                        <div class="icon"><i class="icon-headphones"></i></div>
                        <div class="text">
                            <h6 class="no-margin text-uppercase">+212-528-213-045</h6><span>Nous somme a votre disposition du Lundi au Samedi de 10h à 20h</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Block -->
    <div class="main-block">
        <div class="container">
            <div class="row">
                <div class="info col-lg-4">
                    <div class="logo"><img src=" {% static 'img/foxlogo.png' %}" alt="..."></div>
                    <p>FOX PRODS est une société spécialisée dans la vente et achat de matériel informatique au Maroc,
                        que se soit des pc de bureau ou pc portables ou pc gamer, composants ou périphérique,console de
                        jeux</p>
                    <ul class="social-menu list-inline">
                        <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i
                                class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i
                                class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i
                                class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="site-links col-lg-2 col-md-6">
                    <h5 class="text-uppercase">CATÉGORIES</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Laptops</a></li>
                        <li><a href="#">PC</a></li>
                        <li><a href="#">Consoles</a></li>

                    </ul>
                </div>
                <div class="site-links col-lg-2 col-md-6">
                    <h5 class="text-uppercase">Nos produits</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Promotions</a></li>
                        <li><a href="#">Nouveautés</a></li>
                        <li><a href="#">Meilleures ventes</a></li>

                    </ul>
                </div>
                <div class="newsletter col-lg-4">
                    <h5 class="text-uppercase">Newsletter </h5>
                    <p>Inscrivez-vous à notre newsletter pour recevoir des offres exclusives </p>
                    <form action="{% url "newsletter" %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {% newsletter_form %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button type="submit" class="pt-4 mt-1"><i class="fa fa-paper-plane"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>