<div class="col-lg-4">
    <div class="block-body order-summary">
        <h6 class="text-uppercase">Order Summary</h6>
        <ul class="order-menu list-unstyled">
            <li class="d-flex justify-content-between">
                <span>Sous total </span><strong class="text-info">{{ order.get_total }}DH</strong></li>
            <li class="d-flex justify-content-between">
                <span>Livraison </span><strong>
                {% if order.delivery_method %}{{ order.delivery_method.shipping_price }}{% else %}
                    0{% endif %}DH</strong></li>
            <li class="d-flex justify-content-between">
                <span>Code Promo</span><strong class="text-success">-{% if order.coupon %}
                {{ order.coupon.amount }}{% else %}0{% endif %}DH</strong></li>
            <li class="d-flex justify-content-between"><span>Total</span><strong
                    class="text-primary price-total">{{ order.get_total_coupon }}DH</strong></li>
        </ul>
    </div>
</div>
