{% load static %}
<script src="{% static 'vendor/jquery/jquery.min.js ' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/jquery.cookie/jquery.cookie.js' %}"></script>
<script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'vendor/jquery-countdown/jquery.countdown.min.js' %}"></script>
<script src="{% static 'vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/front.js' %}"></script>
<script>
    window.onload = function () {
        myFunction();
        func();
        try {
            let y = document.getElementsByClassName("textinput textInput");
            for (let i = 0; i < y.length; i++) {
                y[i].classList.add('form-control');
            }
        } catch (e) {
            console.log(e)
        }
    };

    function myFunction() {
        try {
            var x = document.getElementById("snackbar");
            x.className = "show";
            setTimeout(function () {
                x.className = x.className.replace("show", "");
            }, 3000);
        } catch (err) {
        }
    }

    function func() {
        try {
            document.getElementById("id_password1").className = "form-control";
        } catch (err) {}
        try {
            document.getElementById("id_password2").className = "form-control";
        } catch (err) {}
        try {
            document.getElementById("id_oldpassword").className = "form-control";
        } catch (err) {}
        try {
            document.getElementById("id_email").className = "form-control";
        } catch (err) {}
    }
    function is_changed() {
        document.getElementById("changed").value = "True";
    }
</script>