{% extends 'base.html' %}
{% load mytags %}
{% block content %}
    <section class="row gray-bg" style=" padding-bottom: 10px; padding-top: 30px; margin-top: 0px; ">
        <div class="container">
            <div class="row d-flex">
                <div class="col-lg-9 order-2 order-lg-1">
                    <h1>Shop</h1></div>
                <div class="col-lg-3 text-right order-1 order-lg-2">
                    <ul class="breadcrumb justify-content-lg-end">
                        <li class="breadcrumb-item"><a href="{% url "home" %}">Accueil</a></li>
                        <li class="breadcrumb-item active">Shop</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <main>
        <div class="container">
            <div class="row">
                <!-- Sidebar-->
                <div class="sidebar col-xl-3 col-lg-4 sidebar">
                    <div class="block">
                        <h6 class="text-uppercase">CATÉGORIES DES PRODUITS</h6>
                        <ul class="list-unstyled">
                            {% for category in categories %}
                                <li><a href="{{ category.get_absolute_url }}"
                                       class="d-flex justify-content-between align-items-center text-primary">
                                    <span>{{ category.name }}</span>
                                </a>
                                    {% for child in category.child_categories.all %}
                                        <ul class="list-unstyled">
                                            <li><a href="{{ child.get_absolute_url }}">{{ child.name }}
                                                <small class="float-right">{{ child.products.count }}</small>
                                            </a></li>
                                        </ul>
                                    {% endfor %}
                                </li>
                            {% endfor %}


                        </ul>
                    </div>

                </div>
                <!-- /Sidebar end-->
                <!-- Grid -->
                <div class="products-grid col-xl-9 col-lg-8 sidebar-left">
                    <header class="d-flex justify-content-between align-items-start">
                        <span class="visible-items">Affichage <strong>{{ start }}-{{ end }} </strong>de <strong>{{ count }} </strong>article(s)</span>
                        <form method="post">
                            {% csrf_token %}
                            <select name="order" class="bs-select " onchange="this.form.submit()">
                                <option {% if selected == "product_name" %}selected{% endif %} value="product_name">Nom,
                                    A à Z
                                </option>
                                <option {% if selected == "-product_name" %}selected{% endif %} value="-product_name">
                                    Nom, Z à A
                                </option>
                                <option {% if selected == "product_price" %}selected{% endif %} value="product_price">
                                    Prix, croissant
                                </option>
                                <option {% if selected == "-product_price" %}selected{% endif %} value="-product_price">
                                    Prix, décroissant
                                </option>
                                <option {% if selected == "date_added" %}selected{% endif %} value="date_added">Date,
                                    croissant
                                </option>
                                <option {% if selected == "-date_added" %}selected{% endif %} value="-date_added">Date,
                                    décroissant
                                </option>
                            </select>
                        </form>
                    </header>
                    <div class="row mb-3">
                        {% for product in queryset %}
                            <div class="col-xl-4 col-md-6 my-3">
                                {% include "productCard.html" %}
                            </div>
                        {% endfor %}
                    </div>
                    {% if count %}
                        <nav aria-label="page navigation example" class="d-flex justify-content-center">
                            <ul class="pagination pagination-custom">
                                {% if queryset.has_previous %}
                                    <li class="page-item"><a
                                            href="?{{ page_request_var }}={{ queryset.previous_page_number }}"
                                            class="page-link"> <i class="fa fa-angle-left"></i></a></li>
                                {% endif %}
                                <li class="page-item"><a href="?{{ page_request_var }}={{ queryset.number }}"
                                                         class="page-link active">{{ queryset.number }}</a></li>
                                {% if queryset.has_next %}
                                    <li class="page-item"><a
                                            href="?{{ page_request_var }}={{ queryset.next_page_number }}"
                                            class="page-link"> <i class="fa fa-angle-right"></i></a></li>
                                {% endif %}</ul>
                        </nav>
                    {% endif %}

                </div>
                <!-- / Grid End-->
            </div>
        </div>
    </main>
{% endblock content %}

