{% extends 'base.html' %}
{% load mytags %}
{% block content %}
    <section class="row gray-bg" style=" padding-bottom: 10px; padding-top: 30px; margin-top: 0px; ">
        <div class="container">
            <div class="row d-flex">
                <div class="col-lg-9 order-2 order-lg-1">
                    <h1>Shop</h1></div>
                <div class="col-lg-3 text-right order-1 order-lg-2">
                    <ul class="breadcrumb justify-content-lg-end">
                        <li class="breadcrumb-item"><a href="{% url "home" %}">Home</a></li>
                        <li class="breadcrumb-item active">Shop</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <main>
        <div class="container">
            <div class="row">
                <!-- Sidebar-->
                <div class="sidebar col-xl-3 col-lg-4 sidebar">
                    <div class="block">
                        <h6 class="text-uppercase">Product Categories</h6>
                        <ul class="list-unstyled">
                            <li class="active"><a href="#"
                                                  class="d-flex justify-content-between align-items-center"><span>Men's Collection</span>
                                <small>200</small>
                            </a>
                                <ul class="list-unstyled">
                                    <li><a href="#">T-shirts</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>

                </div>
                <!-- /Sidebar end-->
                <!-- Grid -->
                <div class="products-grid col-xl-9 col-lg-8 sidebar-left">
                    <header class="d-flex justify-content-between align-items-start">
                        <span class="visible-items">Showing <strong>{{ start }}-{{ end }} </strong>of <strong>{{ count }} </strong>results</span>
                        <select id="sorting" class="bs-select">
                            <option value="newest">Newest</option>
                            <option value="oldest">Oldest</option>
                            <option value="lowest-price">Low Price</option>
                            <option value="heigh-price">High Price</option>
                        </select>
                    </header>
                    <div class="row mb-3">
                        {% for product in queryset %}
                            <div class="col-xl-4 col-md-6 my-3">
                                {% include "productCard.html" %}
                            </div>
                        {% endfor %}
                    </div>
                    <nav aria-label="page navigation example" class="d-flex justify-content-center">
                        <ul class="pagination pagination-custom">
                            {% if queryset.has_previous %}
                                <li class="page-item"><a
                                        href="?{{ page_request_var }}={{ queryset.previous_page_number }}"
                                        class="page-link"> <i class="fa fa-angle-left"></i></a></li>
                            {% endif %}
                            <li class="page-item"><a href="?{{ page_request_var }}={{ queryset.number }}"
                                                     class="page-link active">{{ queryset.number }}</a></li>
                            {% if queryset.has_next %}
                                <li class="page-item"><a href="?{{ page_request_var }}={{ queryset.next_page_number }}"
                                                         class="page-link"> <i class="fa fa-angle-right"></i></a></li>
                            {% endif %}</ul>
                    </nav>
                </div>
                <!-- / Grid End-->
            </div>
        </div>
    </main>
{% endblock content %}

