{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container mx-auto">
        <div class="container my-4">
            <div class="row mb-3">
                <h2>Détails du message</h2>
            </div>
        </div>
        <div class="col-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-primary">{{ message.firstname }} {{ message.lastname }}</h5>
                    <h6 class="card-subtitle mb-2 text-success">{{ message.date_added }}</h6>
                    <p>{{ message.email }}</p>
                    <p class="card-text">{{ message.message }}</p>
                </div>
            </div>

        </div>


    </div>
{% endblock %}