{% extends 'dashboard/base.html' %}
{% load mytags %}
{% block content %}
    <div class="container my-4">
        <div class="row mb-3">
            <h2>Messages</h2>
        </div>
        <table id="example" class="table text-center table-striped table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Prénome</th>
                <th>Email</th>
                <th>Message</th>
                <th>Vu</th>
                <th>Date</th>
                <th>Supprimer</th>

            </tr>
            </thead>
            <tbody>
            {% for message in messages %}
                <tr>
                    <td>
                        <a href="{% url "db:message-details"  ref=message.id %}">
                            <h5>{{ messages|length|add:1|sub:forloop.counter }}</h5>
                        </a>
                    </td>
                    <td>{{ message.firstname }} </td>
                    <td>{{ message.lastname }}</td>
                    <td>{{ message.email }}</td>
                    <td>{{ message.message|truncatewords:7 }}</td>
                    <td>
                        <span class="text-{% if message.seen %}success{% else %}danger{% endif %}">{{ message.seen }}</span>
                    </td>
                    <td>{{ message.date_added }}</td>
                    <td>
                        <a href="{% url "db:deleteMessage" ref=message.id %}"
                           class=" btn btn-danger btn-sm ">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}