<!doctype html>
<html lang="en">
<body>
<h3>Cher client,</h3>
<p style="font-size: 16px">
    Votre commande sur FoxProds ayant pour référence {{ ref }} a été validé .<br><br>
    {% if option == "FoxProds" %}
        Vous pouvez nous rejoindre à FoxProds magasin pour obtenir vos produits.
    {% elif option == "AMANA" %}
        Nous vous enverrons le code de suivi dès que le processus de livraison commence.
    {% endif %}<br><br>

    Vous pouvez toujours appeler notre service client ( +212 528 213 045 ) si vous avez des questions.<br><br>
    Vous pouvez accéder à tout moment au suivi de votre commande et télécharger votre facture dans <a
        href="http://127.0.0.1:8000/orders/">"Historique des commandes"</a>
    de la rubrique "Mon compte" sur notre site.<br><br>

    Bonne journée ,<br>
    FoxProds
</p>
</body>
</html>