<!doctype html>
<html lang="en">
<body>
<h3>BONJOUR {{ name }},</h3>
<p style="font-size: 16px">
    MERCI D'AVOIR EFFECTUÉ VOS ACHATS SUR FoxProds!<br>
    Nous avons bien enregistré votre commande ayant pour référence {{ ref }}.<br>Celle-ci vous sera envoyée dès
    réception
    de votre paiement<br><br>

    <strong>POUR RAPPEL, VOUS AVEZ SÉLECTIONNÉ LE MODE DE PAIEMENT PAR VIREMENT BANCAIRE.</strong><br>
    Voici les informations dont vous avez besoin pour effectuer votre virement :<br><br>

    <strong>Montant :</strong> {{ price }} MAD<br>
    <strong>Détails du compte :</strong> Société Générale<br>
    <strong>Numéro de compte :</strong> 0003470027273559<br>
    <strong>RIB :</strong> 022450000347002727355953<br>
    <strong>Adresse de la banque : </strong>Adresse : 576 residence HIBA AV ALLAL EL FASSI 40100 Agadir<br>
    <strong> Agence :</strong> 00347 Agadir SAADA<br><br>

    Vous pouvez accéder à tout moment au suivi de votre commande et télécharger votre facture dans <a
        href="http://127.0.0.1:8000/orders/">"Historique des commandes"</a>
    de la rubrique "Mon compte" sur notre site.<br><br>

    Bonne journée ,<br>
    FoxProds
</p>
</body>
</html>