<!doctype html>
<html lang="en">
<body>
<h3>Cher client,</h3>
<p style="font-size: 16px">
    MERCI D'AVOIR EFFECTUÉ VOS ACHATS SUR FoxProds!<br>
    Nous avons bien enregistré votre commande ayant pour référence {{ ref }}.<br><br>

    Un de nos agents va vous contacter par téléphone ou émail, pour confirmer l'envoi de votre commande.<br>
    Vous pouvez toujours appeler notre service client ( +212 528 213 045 ) si nous avons pas pu vous contacté .<br><br>
    Vous pouvez accéder à tout moment au suivi de votre commande et télécharger votre facture dans <a
        href="http://127.0.0.1:8000/orders/">"Historique des commandes"</a>
    de la rubrique "Mon compte" sur notre site.<br><br>

    Bonne journée ,<br>
    FoxProds
</p>
</body>
</html>