{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container mx-auto">
        <section style=" padding-bottom: 10px; padding-top: 30px; margin-top: 0px; ">
            <div class="container">
                <div class="row d-flex">
                    <div class="col-lg-9 order-2 order-lg-1">

                    </div>
                </div>
            </div>
        </section>
        <div class="col-6 mx-auto">
            <form method="post">
                {% csrf_token %}
                {{ product_form|crispy }}
                <button type="submit">Here</button>
            </form>
        </div>


    </div>
{% endblock %}