{% load static %}
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                {#                <a class="btn btn-primary" href="{% url "account_logout" %}">Logout</a>#}
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button type="submit" class="btn btn-primary float-right"><i class="fa fa-sign-in"></i> Logout
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.13/js/dataTables.bootstrap4.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

<div class="row"></div>
<script>
    window.onload = function () {
        myFunction();
        func();
        try {
            document.getElementsByClassName("dataTables_wrapper form-inline dt-bootstrap4 no-footer")[0].className += " container-fluid d-flex h-100 flex-column";
            let y = document.getElementsByClassName("row");
            for (let i = 1; i < y.length; i++) {
                y[i].classList.add('my-3');
            }
        } catch (e) {
            console.log(e)
        }
    };

    function myFunction() {
        try {
            var x = document.getElementById("snackbar");
            x.className = "show";
            setTimeout(function () {
                x.className = x.className.replace("show", "");
            }, 3000);
        } catch (err) {
        }
    }

    function func() {
        try {
            document.getElementById("id_code").className = "form-control";
            document.getElementById("id_message").className = "form-control";
        } catch (err) {
        }
    }

    try {
        $(document).ready(function () {
            $('#example').dataTable({
                "order": [],
                'columnDefs': [{
                    'targets':
                        {% if request.path == '/dashboard/users/' %}
                            [6],
                        {% elif request.path == '/dashboard/messages/' %}
                            [7],
                        {% elif request.path == '/dashboard/orders/' or request.path == '/dashboard/products/' %}
                            [5, 6, 7],
                        {% elif request.path == '/dashboard/newsletter-emails/'%}
                            [4],
                        {% elif request.path == '/dashboard/newsletter/'%}
                            [4,5;],
                        {% else %}
                            [''],
                        {% endif %}
                    'orderable';
        :
            false,
        }]
        })
        });
    } catch (e) {

    }

    $(".dropdown-menu li a").click(function () {
        var selText = $(this).text();
        $(this).parents('.btn-group').find('.dropdown-toggle').html(selText + ' <span class="caret"></span>');
    });
    $('select').selectpicker();
    try {
        let list = document.getElementsByClassName("dropdown bootstrap-select browser-default custom-select");
        for (let i = 0; i < list.length; i++) {
            list[i].setAttribute("style", "padding:0;width:130px");
        }
    } catch (e) {
        console.log("Exception " + e);
    }
    {% if request.path == '/dashboard/' %}
        try {
            var ctx = document.getElementById('myChart').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juilet', 'Août', 'Septembre', 'October', 'Novembre', 'Décembre'],
                    datasets: [{
                        label: 'Valuers en DH',
                        borderColor: 'rgb(128,0,128)',
                        data: {{ sales_values }},
                        fill: false,
                    }]
                },
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Mois'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Valuers'
                            }
                        }]
                    }
                }
            });
        } catch (e) {
            console.log(e)
        }
    {% endif %}


</script>
